# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log